.app{
  background-color: rgb(97, 94, 94);
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}
body{
  background-color: rgb(64, 64, 64);
  color: #FFEBAD;
  font-family: 'Playfair Display', serif;
}
.crossed{
  text-decoration: line-through 4px black;
  background-color: #545151;
}
ul,li{
  list-style: none;
  padding: 5px;
  margin: 0;
  font-family: 'Playfair Display', serif;
}
.check{
  padding-right: 5px;
  vertical-align: text-top;
}
input{
  font-family: 'Playfair Display', serif;
  flex:1;
  margin: 5px;
  padding: 5px;
}
button{
  font-family: 'Playfair Display', serif;
  margin: 5px;
  padding: 5px 20px;
  background-color: #545151;
  color: #FFEBAD;
}
button:hover{
  background-color: hwb(45 39% 56%);
  cursor: pointer;
}
.container{
  display: flex;
  justify-content: center;
}
img{
  border-radius: 40%;
  padding-top: 5px;
}
